h1 {
  color: blueviolet;
  background-color: gray;
}
aside {
  width: 120%;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  float: left;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: normal;
  color: blueviolet;
}
